### **DESCRIPTIVE STATISTICS IN PYTHON**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Inc_Exp_DataM.csv")
df.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000.0,3.0,2000.0,64200,Under-Graduate,1.0
1,6000,7000.0,2.0,3000.0,79920,Illiterate,1.0
2,10000,4500.0,2.0,NaN,112800,Under-Graduate,1.0
3,10000,2000.0,1.0,0.0,97200,Illiterate,1.0
4,12500,NaN,2.0,3000.0,147000,Graduate,1.0

In [ ]:
#Identifying missing values
df.isnull().sum()

Mthly_HH_Income             0
Mthly_HH_Expense            6
No_of_Fly_Members           5
Emi_or_Rent_Amt             3
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       3
dtype: int64

In [ ]:
#Replace NaN values in a specific column with a constant value
df.fillna(0,inplace=True)

In [ ]:
#Replace NaN values in all columns with mean of each column
df.fillna(df.mean(),inplace=True)

<ipython-input-6-e7edc31f59ca>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True)

In [ ]:
#Replace NaN with median of each colum
df.fillna(df.median(),inplace=True)

<ipython-input-7-f6f9572395ac>:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.median(),inplace=True)

In [ ]:
#Forward fill missing values (use the previous non-missing value)
df.ffill(inplace=True)

In [ ]:
#Backward-fill missing values (using the next non-missing values)
df.bfill(inplace=True)

In [ ]:
#fill missing values using Simple Imputer
from sklearn.impute import SimpleImputer

In [ ]:
#Create a simple imputer object with the mean stratergy
mean_imputer = SimpleImputer(strategy='mean')

In [ ]:
#Create a simple imputer object with the median stratergy
median_imputer = SimpleImputer(strategy='median')

In [ ]:
#Create a Simple Imputer object with the most frequent strategy
mode_imputer = SimpleImputer(strategy = 'most_frequent')

In [ ]:
#Separate  the variable ('Highest_Qualified_Member') from the predictors (features) since string column cannot be imputed.
X = df.drop('Highest_Qualified_Member',axis=1)

In [ ]:
#Fit the imputers to the data and transform the data
X_mean_imputed = mean_imputer.fit_transform(X)
#or
X_median_imputed = median_imputer.fit_transform(X)
#or
X_mode_imputed = mode_imputer.fit_transform(X)

In [ ]:
#verify that these are no missing values in the new datasets
print(pd.DataFrame(X_mean_imputed).isnull().sum())

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [ ]:
print(pd.DataFrame(X_median_imputed).isnull().sum())

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [ ]:
print(pd.DataFrame(X_mode_imputed).isnull().sum())

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [ ]:
#Statistics in Python

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     float64
 2   No_of_Fly_Members         50 non-null     float64
 3   Emi_or_Rent_Amt           50 non-null     float64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 2.9+ KB

In [ ]:
print(df['Annual_HH_Income'].mean())

490019.04

In [ ]:
print(df['Annual_HH_Income'].median())

447420.0

In [ ]:
print(df['Annual_HH_Income'].mode())

0    590400
Name: Annual_HH_Income, dtype: int64

In [ ]:
df['Highest_Qualified_Member'].value_counts()

Graduate          19
Under-Graduate    10
Professional      10
Post-Graduate      6
Illiterate         5
Name: Highest_Qualified_Member, dtype: int64

In [ ]:
# Distibution Measures through Descriptive Statistics
# Kurtosis - measures how much data is in the tails of a distribution v/s the center.
df['Mthly_HH_Income'].kurtosis()

0.11555007146606489

In [ ]:
#Skew -
df['Mthly_HH_Income'].skew()

0.9246148763777229

In [ ]:
#standard Deviation - quantifies the amount of variation or dispersion of data points
df['Mthly_HH_Income'].std()

26097.908978713687

In [ ]:
#Variance - Root of SD
df['Mthly_HH_Income'].var()

681100853.0612245

In [ ]:
#Summary of the dataset
df.describe()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
count,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50.000000
mean,41558.000000,16378.000000,3.720000,2660.000000,4.900190e+05,1.400000
std,26097.908979,12707.386411,1.927672,5755.600644,3.201358e+05,0.808122
min,5000.000000,0.000000,0.000000,0.000000,6.420000e+04,0.000000
25%,23550.000000,8250.000000,2.250000,0.000000,2.587500e+05,1.000000
50%,35000.000000,14000.000000,4.000000,0.000000,4.474200e+05,1.000000
75%,50375.000000,21500.000000,5.000000,3375.000000,5.947200e+05,2.000000
max,100000.000000,50000.000000,7.000000,35000.000000,1.404000e+06,4.000000